@media(min-width:992px) {
    .img_knife {
        height: 50%;
    }
}

@media(max-width:991px) {
    /*Home*/
    #home {
        background: none;
    }
    #home::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(images/header/background1.jpg) no-repeat right center;
        opacity: 0.4;
    }
    #home .home_h {
        padding-top: 200px;
    }


    /*about us*/
    .h_about_us {
        font-size: 50px;
        text-align: center;
        height: 35px;
    }
    #about_us .container {
        display: inherit;
        height: auto;
        padding-bottom: 100px;
    }
    /*services*/
    #services {
        background: url(images/body/services/img_tomato.png) no-repeat center center;
        background-size: contain;
        background-color: rgb(112, 191, 255);
    }

    .services_h1 {
        padding-bottom: 15px;
        text-align: center;
        font-size: 80px;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .services_container {
        padding-top: 65px;
    }

    /*gallery*/
    #gallery .row {
        max-width: 90%;
        margin: 0 auto;
    }
    #gallery img {
        max-width: 69%;
    }
    .img-responsive {
        margin: 0 auto;
    }

    /*subscribe*/
    #subscribe {
        background: none;
    }
    #subscribe::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(images/body/subscribe/bacground_image.jpg) no-repeat right center;
        opacity: 0.6;
    }

    /*blog*/
    #blog img {
        margin-top: 20px;
    }


    /*contact*/
    #contact {
        padding-bottom: 25px;
    }
    .contact_cont_2 {
        padding-left: 30px;
        padding-top: 75px;
    }
    #contact .container {
        display: flex;
        flex-direction: column;
    }
    #contact .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact_cont_3 {
        padding-bottom: 100px;
        padding-right: 30px;
        font-weight: 500;
        color: rgb(255, 255, 255);
    }
    /*footer*/
    .footer_p {
        padding-top: 10px;
    }
    #blog .container .col-md-4 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media(max-width:768px) {
    /*home*/
    #home{
    background: url('images/header/background1.jpg') no-repeat center center;
    background-size: cover;
    }
    .home_cont {
        margin-bottom: 50px;
    }
    /*about us*/
    #about_us img {
        padding-right: 0;
        width: 60%;
    }
    .h_about_us {
        font-size: 45px;
        text-align: center;
        height: 30px;
    }
    /*Gallery*/
    .gallery_h2 {
        font-size: 50px;
        height: 40px;
    }
}

@media(max-width:385px) {
    /*about us*/
    .h_about_us {
        font-size: 30px;
        text-align: center;
        height: 30px;
    }
    .services_h1 {
        font-size: 50px;
        font-weight: 500;
    }
    /*Gallery*/
    .gallery_h2 {
        font-size: 50px;
        height: 40px;
    }
    .gallery_p {
        padding-top: 12px;
    }
    #gallery img {
        max-width: 100%;
    }
    /*Contact*/
    .contact_h2 {
        font-size: 65px;
    }
}
