@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

* {
    font-family: "Raleway";
}

/* Header / home */

#home {
    background: url(../images/header/background1.jpg) no-repeat right center;
    background-size: cover;
}

#home .home_h {
    /* Style for "Fresh Life" */
    padding-top: 360px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 900;
}

.p_home {
    /* Style for "Sed do eiu" */
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 300;
}

.text_links {
    /* Style for "HOME" */
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

nav {
    background-color: transparent !important;
    border: 0!important;
    padding: 20px;
}

nav li a {
    color: rgb(0, 0, 0) !important;
}

nav li a:hover {
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
    border-top: 3px solid rgb(255, 96, 51);
}

.btn1 {
    /* Style for "bg" */
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 96, 51);
}
.btn1:hover{
    opacity: 0.9;
}
.btn-getfree {
    /* Style for "GET FREE N" */
    width: 150px;
    height: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.scroll_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 295px 0 69px 0;
}

/*About us*/

#about_us {
    background-color: rgb(0, 174, 174);
}

#about_us img {
    padding-right: 30px;
}

.h_about_us {
    /* Style for "About Us" */
    height: 67px;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
}

.p_about_us {
    /* Style for "Abore Cahe" */
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: left; 
    padding-top: 10px;
}

#about_us .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 700px;
}

/*Services*/

#services {
    height: 790px;
    background-color: rgb(112, 191, 255);
}

.services_container {
    padding-top: 189px;
}
.img_tomato_photo{
    position: relative;
    bottom: 80px;
}
.h_services {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
}

.services_table {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    height: 100px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(38, 38, 38);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services_table img {
    width: 55px;
    height: 55px;
}

.img_tomato .services_down_p {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(-50%);
    text-align: center;
    width: 90%;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 700;
}

.services_table .services_table_p {
    margin-bottom: 0;
    width: 65%;
}

.vertical_line {

    background-color: rgb(157, 157, 157);
    width: 1px;
    height: 100px;
}

/*Gallery*/

#gallery {
    padding-bottom: 40px;
    background-color: rgb(255, 233, 47);
}

#gallery img {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}

.gallery_h2 {
    /* Style for "Gallery" */
    height: 87px;
    color: rgb(38, 38, 38);
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
}

.gallery_p {
    /* Style for "Consectetu" */
    color: rgb(38, 38, 38);
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.gallery_cont {
    display: flex;
    text-align: center;
}

.gallery_cont .row {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.gallery_span {
    /* Style for "VIEW MORE" */
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.btn4 {
    /* Style for "bg" */
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(85, 133, 162);
}
.btn4:hover{
    background-color: rgb(50, 133, 162);
    opacity: 0.9;
}
.btn4 span {
    /* Style for "VIEW MORE" */
    width: 114px;
    height: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;

}

/*Gallery photos*/

.gallery_photos img {
    margin-top: 20px;
}

/*Subscribe*/

#subscribe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url('../images/body/subscribe/bacground_image.jpg')no-repeat right center;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}

.subscribe_us_h {
    /* Style for "Subscribe" */
    color: rgb(38, 38, 38);
    font-size: 40px;
    font-weight: 700;
}

.row_sub {
    display: flex;
    flex-direction: column;
}

.input_btn {
    position: absolute;
    bottom: 140px;
}

.sub_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5%;
}

.subscribe_input {
    width: 100%;
    border-radius: 5px;
}

.subscribe_input::placeholder {
    padding-left: 15px;
}

.btn3 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(150, 185, 44);
    margin-left: 30px;
}

/*Blog*/

#blog {
    height: auto;
    padding-bottom: 100px;
    background-color: rgb(176, 124, 247);
}

.blog_img {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9) !important;
}

.blog_h2 {
    /* Style for "Blog" */
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 25px;
}

.blog_container {
    display: flex;
    justify-content: center;
    padding-bottom: 47px;
    padding-top: 80px;
}

.blog_text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 35px;
}

.blog_date {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 32px;
    padding: 3px;
}

.blog_date_2 {
    height: 15px;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.blog_text,
.blog_h4__p {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    overflow: auto;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    
}

.blog_h4__p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 43px 20px 23px;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow: auto;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}

.blog__h4 {
    /* Style for "Growing Fo" */
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}

.blog_author {
    font-size: 13px;
    font-weight: 300;
}

/*Blog button*/

.blog_container_2 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.blog_button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(247, 43, 59);
    border-color: rgb(247, 43, 59);
}

.blog_button:hover {
    background-color: rgba(255, 0, 20, 0.7);
    border-color: rgba(247, 43, 59, 0.7);
}

.blog_span {
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.blog_span_dates {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 62px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
}

/*Contact*/

#contact {
    background: url('../images/body/footer/bacground_image.jpg')no-repeat right center;
    background-size: cover;
    height: auto;
    padding-bottom: 100px;
}

.contact_container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center
}


.contact_h2 {
    color: rgb(38, 38, 38);
    font-size: 90px;
    font-weight: 700;
    margin-top: 101px;
}

/*Contact forms*/

form {
    margin-top: 46px;
}

.contact_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    background-color: #00c4c4;
    opacity: 0.5;
}
.contact_input:focus {
    opacity: 1.0;
    border-left-color: rgb(53, 91, 130);
    border-left-width: 3px;
    color: rgb(255, 255, 255);
}

.contact_input,
.text__area {
    padding: 20px;
}

.contact_input::placeholder,
.text__area::placeholder {
    color: rgb(255, 255, 255);
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
.text__area{
    font-weight: bold;
}
.contact_input:focus::placeholder,
.text__area:focus::placeholder{
    font-weight: 700;
}
.text__area {
    height: 250px;
    width: 100%;
    min-height: 250px;
    min-width: 200px;
    max-height: 250px;
    max-width: 700px;
    background-color: rgb(0, 196, 196);
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.text__area:focus {
    border-left-width: 3px;
    border-left-color: rgb(53, 91, 130);
    opacity: 1;
}

.contact_cont_2 {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    padding-left: 195px;
}

.contact_cont_2 h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.contact_cont_2 p {
    font-size: 17px;
    font-weight: 300;
}

/*Footer*/

.footer__down {
    /* Style for "bg-foodter" */
    display: flex;
    align-items: center;
    background-color: rgb(38, 38, 38);
    min-height: 90px;
    height: auto;
}

.footer_p {
    /* Style for "© 2015 Com" */
    color: rgb(185, 185, 185);
    font-size: 16px;
    font-weight: 300;
}

.footer_span {
    color: rgb(255, 43, 88);
    padding-left: 5px;
    padding-right: 5px;
}
